@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

html,
body {
  font-family: "Source Sans Pro", cursive;
  background-color: gray;
}

canvas {
  display: inline-block;
  margin-left: 32.5%;
  margin-top: 0, 5%;
  padding: 0%;
  border: 12px solid #000000;
}

h1,
h3 {
  text-align: center;
  color: black;
}